<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070210806389-o8gnmeqe0bbritv4ckg14p5cdlqck165.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070210806389-o8gnmeqe0bbritv4ckg14p5cdlqck165</string>
	<key>API_KEY</key>
	<string>AIzaSyCAI6pa5w7lU45szgzPrSLNJuJEED70AKo</string>
	<key>GCM_SENDER_ID</key>
	<string>1070210806389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.playspot.app</string>
	<key>PROJECT_ID</key>
	<string>playspot-83bcb</string>
	<key>STORAGE_BUCKET</key>
	<string>playspot-83bcb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070210806389:ios:e635f22026de32d2cb3e3c</string>
</dict>
</plist>